@import "../../shared/variables";

.pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.page {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.current {
  color: #000;
  border-color: #000;
}
