@import "../../shared/variables";

.task {
  box-shadow: $shadow;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid $borderColor;
}

.block {
  padding: 10px 25px;
  padding-bottom: 25px;
  border-left: 1px solid $borderColor;

  &:first-child {
    border-left: none;
  }
}

.label {
  font-family: $secondFont;
  font-weight: 600;
  margin-bottom: 15px;
}

.content {
  font-family: $mainFont;
}

.text {
  flex-grow: 1;

  & > p {
    opacity: 0.5;
  }
}

.status {
  font-weight: 600;
  opacity: 0.45;
}

.check {
  display: block;
  width: 100%;
  height: 30px;
  cursor: pointer;
}

.btn {
  margin-top: 20px;
}

@media (max-width: 670px) {
  .task {
    flex-wrap: wrap;
  }

  .text {
    width: 100%;
    order: 4;
    border-left: none;
    border-top: 1px solid $borderColor;
  }

  .email {
    order: 3;
    width: 100%;
    border-left: none;
    border-top: 1px solid $borderColor;
  }
}
